---
import Layout from "../layouts/Layout.astro";
import ContactForm from "../components/forms/ContactForm.astro";
---

<Layout title="Kontakt Os">
  <section class="container mx-auto px-6 py-20">
    <div class="max-w-3xl mx-auto">
      <ContactForm
        title="Kontakt Os"
        description="Har du et projekt i tankerne? Udfyld formularen herunder, og vi vender tilbage til dig hurtigst muligt."
        recipientEmail="luu@rnsapps.dk"
      />
    </div>
  </section>
</Layout>
