---
import Layout from '../layouts/Layout.astro';

const projects = [
    {
        title: 'Smash Padelcenter',
        description: 'En klub-app udviklet til Smash Padelcenter i Horsens. Webappen gør det nemt for medlemmer at administrere deres klubaktiviteter, booke baner, se ledige tider og håndtere deres bookinger. Systemet inkluderer også betaling af ting i centeret med integration til Stripe og Flatpay, og er bygget som en moderne MERN-stack løsning med fokus på brugervenlighed og performance.',
        tags: ['Web App', 'MongoDB', 'React', 'Node.js', 'Stripe', 'Flatpay'],
        link: "www.smash.rns-apps.dk"
    }
]
---
<Layout title="Projekter">
    <section class="container mx-auto px-6 py-20">
        <div class="text-center mb-12">
            <h1 class="text-5xl font-extrabold tracking-tighter">Vores Arbejde</h1>
            <p class="text-slate-400 mt-2 max-w-2xl mx-auto">Her er et kig på vores seneste projekt. Vi er stolte af det arbejde, vi leverer, og hvordan det løser reelle problemer for vores klienter.</p>
        </div>

        <div class="grid md:grid-cols-1 lg:grid-cols-1 gap-8 max-w-2xl mx-auto">
            {projects.map(project => (
                <div class="bg-slate-800/50 rounded-lg p-6 flex flex-col">
                    <h3 class="text-2xl font-bold text-white mb-2">{project.title}</h3>
                    <p class="text-slate-400 flex-grow">{project.description}</p>
                    <div class="mt-4">
                        {project.tags.map(tag => (
                            <span class="inline-block bg-indigo-500/20 text-indigo-300 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full">{tag}</span>
                        ))}
                    </div>
                    <div class="mt-6">
                    <a href={`https://${project.link}`} target="_blank" rel="noopener noreferrer" class="inline-block bg-indigo-600 text-white px-4 py-2 rounded hover:bg-indigo-700 transition">
                        Check vores projekt ud
                    </a>
                </div>
                </div>
            ))}
        </div>
    </section>
</Layout>