---
const year = new Date().getFullYear();
---
<footer class="border-t border-[#F2965F] mt-20">
    <div class="container mx-auto px-6 py-8 text-center text-slate-500">
        <p>&copy; {year} RNS APPS Software. Alle rettigheder forbeholdes.</p>
        <p class="mt-2 text-sm">
    <a href="/data-sletning/" class="hover:text-indigo-400 mr-4">Anmodning om datasletning</a>
    <a href="/privatlivsvilkår/" class="hover:text-indigo-400">Privatlivsvilkår</a>
</p>
    </div>
</footer>
