---
interface Props {
    variant?: 'primary' | 'secondary' | 'accent';
    class?: string;
}

const {
    variant = 'accent',
    class: className = ''
} = Astro.props;

const variants = {
    primary: 'bg-primary-500 text-white',
    secondary: 'bg-[#314245]/10 text-[#314245]',
    accent: 'bg-[#314245]/10 text-[#314245]'
};

const classes = `inline-block text-xs font-medium px-2.5 py-0.5 rounded-full ${variants[variant]} ${className}`;
---

<span class={classes}>
    <slot />
</span>
